openapi: 3.0.0
info:
  title: TVDB API V4
  description: |
    Documentation of [TheTVDB](https://thetvdb.com/) API V4. All related information is linked from our [Github repo](https://github.com/thetvdb/v4-api). You might also want to use our [Postman collection] (https://www.getpostman.com/collections/7a9397ce69ff246f74d0)
    ## Authentication
    1. Use the /login endpoint and provide your API key as "apikey". If you have a user-supported key, also provide your subscriber PIN as "pin". Otherwise completely remove "pin" from your call.
    2. Executing this call will provide you with a bearer token, which is valid for 1 month.
    3. Provide your bearer token for subsequent API calls by clicking Authorize below or including in the header of all direct API calls: `Authorization: Bearer [your-token]`

    ## Notes
    1. "score" is a field across almost all entities.  We generate scores for different types of entities in various ways, so no assumptions should be made about the meaning of this value.  It is simply used to hint at relative popularity for sorting purposes.
  version: 4.7.2
servers:
- url: https://api4.thetvdb.com/v4
security:
- bearerAuth: []
paths:
  /login:
    post:
      tags:
      - Login
      summary: create an auth token. The token has one month valition length.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/login_body'
        required: true
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "401":
          description: invalid credentials
  /artwork/{id}:
    get:
      tags:
      - Artwork
      description: Returns a single artwork base record.
      operationId: getArtworkBase
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "400":
          description: Invalid artwork id
        "401":
          description: Unauthorized
        "404":
          description: Artwork not found
  /artwork/{id}/extended:
    get:
      tags:
      - Artwork
      description: Returns a single artwork extended record.
      operationId: getArtworkExtended
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        "400":
          description: Invalid artwork id
        "401":
          description: Unauthorized
        "404":
          description: Artwork not found
  /artwork/statuses:
    get:
      tags:
      - Artwork Statuses
      description: Returns list of artwork status records.
      operationId: getAllArtworkStatuses
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        "401":
          description: Unauthorized
  /artwork/types:
    get:
      tags:
      - Artwork Types
      description: Returns a list of artworkType records
      operationId: getAllArtworkTypes
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        "401":
          description: Unauthorized
  /awards:
    get:
      tags:
      - Awards
      description: Returns a list of award base records
      operationId: getAllAwards
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
        "401":
          description: Unauthorized
  /awards/{id}:
    get:
      tags:
      - Awards
      description: Returns a single award base record
      operationId: getAward
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
        "400":
          description: Invalid awards id
        "401":
          description: Unauthorized
        "404":
          description: Awards not found
  /awards/{id}/extended:
    get:
      tags:
      - Awards
      description: Returns a single award extended record
      operationId: getAwardExtended
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        "400":
          description: Invalid awards id
        "401":
          description: Unauthorized
        "404":
          description: Awards not found
  /awards/categories/{id}:
    get:
      tags:
      - Award Categories
      description: Returns a single award category base record
      operationId: getAwardCategory
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
        "400":
          description: Invalid category id
        "401":
          description: Unauthorized
        "404":
          description: Category not found
  /awards/categories/{id}/extended:
    get:
      tags:
      - Award Categories
      description: Returns a single award category extended record
      operationId: getAwardCategoryExtended
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
        "400":
          description: Invalid category id
        "401":
          description: Unauthorized
        "404":
          description: Category not found
  /characters/{id}:
    get:
      tags:
      - Characters
      description: Returns character base record
      operationId: getCharacterBase
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
        "400":
          description: Invalid character id
        "401":
          description: Unauthorized
        "404":
          description: Character not found
  /companies:
    get:
      tags:
      - Companies
      description: returns a paginated list of company records
      operationId: getAllCompanies
      parameters:
      - name: page
        in: query
        description: name
        required: false
        style: form
        explode: true
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
        "401":
          description: Unauthorized
  /companies/types:
    get:
      tags:
      - Companies
      description: returns all company type records
      operationId: getCompanyTypes
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
        "401":
          description: Unauthorized
  /companies/{id}:
    get:
      tags:
      - Companies
      description: returns a company record
      operationId: getCompany
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
        "400":
          description: Invalid company id
        "401":
          description: Unauthorized
        "404":
          description: Company not found
  /content/ratings:
    get:
      tags:
      - Content Ratings
      description: returns list content rating records
      operationId: getAllContentRatings
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
        "401":
          description: Unauthorized
  /countries:
    get:
      tags:
      - Countries
      description: returns list of country records
      operationId: getAllCountries
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
  /entities:
    get:
      tags:
      - Entity Types
      description: returns the active entity types
      operationId: getEntityTypes
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
        "401":
          description: Unauthorized
  /episodes:
    get:
      tags:
      - Episodes
      description: "Returns a list of episodes base records with the basic attributes.<br>\
        \ Note that all episodes are returned, even those that may not be included\
        \ in a series' default season order."
      operationId: getAllEpisodes
      parameters:
      - name: page
        in: query
        description: page number
        required: false
        style: form
        explode: true
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_17'
        "401":
          description: Unauthorized
  /episodes/{id}:
    get:
      tags:
      - Episodes
      description: Returns episode base record
      operationId: getEpisodeBase
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
        "400":
          description: Invalid episode id
        "401":
          description: Unauthorized
        "404":
          description: Episode not found
  /episodes/{id}/extended:
    get:
      tags:
      - Episodes
      description: Returns episode extended record
      operationId: getEpisodeExtended
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      - name: meta
        in: query
        description: meta
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: translations
          enum:
          - translations
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_19'
        "400":
          description: Invalid episode id
        "401":
          description: Unauthorized
        "404":
          description: Episode not found
  /episodes/{id}/translations/{language}:
    get:
      tags:
      - Episodes
      description: Returns episode translation record
      operationId: getEpisodeTranslation
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      - name: language
        in: path
        description: language
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_20'
        "400":
          description: Invalid episode id. Invalid language.
        "401":
          description: Unauthorized
        "404":
          description: Episode not found
  /genders:
    get:
      tags:
      - Genders
      description: returns list of gender records
      operationId: getAllGenders
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_21'
  /genres:
    get:
      tags:
      - Genres
      description: returns list of genre records
      operationId: getAllGenres
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_22'
        "401":
          description: Unauthorized
  /genres/{id}:
    get:
      tags:
      - Genres
      description: Returns genre record
      operationId: getGenreBase
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_23'
        "400":
          description: Invalid genre id
        "401":
          description: Unauthorized
        "404":
          description: Genre not found
  /inspiration/types:
    get:
      tags:
      - InspirationTypes
      description: returns list of inspiration types records
      operationId: getAllInspirationTypes
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_24'
        "401":
          description: Unauthorized
  /languages:
    get:
      tags:
      - Languages
      description: returns list of language records
      operationId: getAllLanguages
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_25'
        "401":
          description: Unauthorized
  /lists:
    get:
      tags:
      - Lists
      description: returns list of list base records
      operationId: getAllLists
      parameters:
      - name: page
        in: query
        description: page number
        required: false
        style: form
        explode: true
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_26'
        "401":
          description: Unauthorized
  /lists/{id}:
    get:
      tags:
      - Lists
      description: returns an list base record
      operationId: getList
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_27'
        "400":
          description: Invalid list id
        "401":
          description: Unauthorized
        "404":
          description: List not found
  /lists/slug/{slug}:
    get:
      tags:
      - Lists
      description: returns an list base record search by slug
      operationId: getListBySlug
      parameters:
      - name: slug
        in: path
        description: slug
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_27'
        "400":
          description: Invalid list slug
        "401":
          description: Unauthorized
        "404":
          description: List not found
  /lists/{id}/extended:
    get:
      tags:
      - Lists
      description: returns a list extended record
      operationId: getListExtended
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_28'
        "400":
          description: Invalid list id
        "401":
          description: Unauthorized
        "404":
          description: Lists not found
  /lists/{id}/translations/{language}:
    get:
      tags:
      - Lists
      description: Returns list translation record
      operationId: getListTranslation
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      - name: language
        in: path
        description: language
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_29'
        "400":
          description: Invalid lists id
        "401":
          description: Unauthorized
        "404":
          description: Lists not found
  /movies:
    get:
      tags:
      - Movies
      description: returns list of movie base records
      operationId: getAllMovie
      parameters:
      - name: page
        in: query
        description: page number
        required: false
        style: form
        explode: true
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_30'
        "401":
          description: Unauthorized
  /movies/{id}:
    get:
      tags:
      - Movies
      description: Returns movie base record
      operationId: getMovieBase
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_31'
        "400":
          description: Invalid movie id
        "401":
          description: Unauthorized
        "404":
          description: Movie not found
  /movies/{id}/extended:
    get:
      tags:
      - Movies
      description: Returns movie extended record
      operationId: getMovieExtended
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      - name: meta
        in: query
        description: meta
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: translations
          enum:
          - translations
      - name: short
        in: query
        description: "reduce the payload and returns the short version of this record\
          \ without characters, artworks and trailers."
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          enum:
          - true
          - false
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_32'
        "400":
          description: Invalid movie id
        "401":
          description: Unauthorized
        "404":
          description: Movie not found
  /movies/filter:
    get:
      tags:
      - Movies
      description: Search movies based on filter parameters
      operationId: getMoviesFilter
      parameters:
      - name: company
        in: query
        description: production company
        required: false
        style: form
        explode: true
        schema:
          type: number
          example: 1
      - name: contentRating
        in: query
        description: content rating id base on a country
        required: false
        style: form
        explode: true
        schema:
          type: number
          example: 245
      - name: country
        in: query
        description: country of origin
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: usa
      - name: genre
        in: query
        description: genre
        required: false
        style: form
        explode: true
        schema:
          type: number
          example: 3
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 21
          - 22
          - 23
          - 24
          - 25
          - 26
          - 27
          - 28
          - 29
          - 30
          - 31
          - 32
          - 33
          - 34
          - 35
          - 36
      - name: lang
        in: query
        description: original language
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: eng
      - name: sort
        in: query
        description: sort by results
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - score
          - firstAired
          - name
      - name: status
        in: query
        description: status
        required: false
        style: form
        explode: true
        schema:
          type: number
          enum:
          - 1
          - 2
          - 3
      - name: year
        in: query
        description: release year
        required: false
        style: form
        explode: true
        schema:
          type: number
          example: 2020
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_33'
        "400":
          description: Invalid format parameter.
        "401":
          description: Unauthorized
  /movies/slug/{slug}:
    get:
      tags:
      - Movies
      description: Returns movie base record search by slug
      operationId: getMovieBaseBySlug
      parameters:
      - name: slug
        in: path
        description: slug
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_31'
        "400":
          description: Invalid movie slug
        "401":
          description: Unauthorized
        "404":
          description: Movie not found
  /movies/{id}/translations/{language}:
    get:
      tags:
      - Movies
      description: Returns movie translation record
      operationId: getMovieTranslation
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      - name: language
        in: path
        description: language
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_20'
        "400":
          description: "Invalid movie id, invalid language."
        "401":
          description: Unauthorized
        "404":
          description: Movie not found
  /movies/statuses:
    get:
      tags:
      - Movie Statuses
      description: returns list of status records
      operationId: getAllMovieStatuses
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_34'
        "401":
          description: Unauthorized
  /people:
    get:
      tags:
      - People
      description: Returns a list of people base records with the basic attributes.
      operationId: getAllPeople
      parameters:
      - name: page
        in: query
        description: page number
        required: false
        style: form
        explode: true
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_35'
        "401":
          description: Unauthorized
  /people/{id}:
    get:
      tags:
      - People
      description: Returns people base record
      operationId: getPeopleBase
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_36'
        "400":
          description: Invalid people id
        "401":
          description: Unauthorized
        "404":
          description: People not found
  /people/{id}/extended:
    get:
      tags:
      - People
      description: Returns people extended record
      operationId: getPeopleExtended
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      - name: meta
        in: query
        description: meta
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: translations
          enum:
          - translations
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_37'
        "400":
          description: Invalid people id
        "401":
          description: Unauthorized
        "404":
          description: People not found
  /people/{id}/translations/{language}:
    get:
      tags:
      - People
      description: Returns people translation record
      operationId: getPeopleTranslation
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      - name: language
        in: path
        description: language
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_20'
        "400":
          description: "Invalid people id, invalid language."
        "401":
          description: Unauthorized
        "404":
          description: People not found
  /people/types:
    get:
      tags:
      - People Types
      description: returns list of peopleType records
      operationId: getAllPeopleTypes
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_38'
  /search:
    get:
      tags:
      - Search
      description: "Our search index includes series, movies, people, and companies.\
        \ Search is limited to 5k results max."
      operationId: getSearchResults
      parameters:
      - name: query
        in: query
        description: "The primary search string, which can include the main title\
          \ for a record including all translations and aliases."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: q
        in: query
        description: Alias of the "query" parameter.  Recommend using query instead
          as this field will eventually be deprecated.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: "Restrict results to a specific entity type.  Can be movie, series,\
          \ person, or company."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: year
        in: query
        description: Restrict results to a specific year. Currently only used for
          series and movies.
        required: false
        style: form
        explode: true
        schema:
          type: number
      - name: company
        in: query
        description: "Restrict results to a specific company (original network, production\
          \ company, studio, etc).  As an example, \"The Walking Dead\" would have\
          \ companies of \"AMC\", \"AMC+\", and \"Disney+\"."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: country
        in: query
        description: Restrict results to a specific country of origin. Should contain
          a 3 character country code. Currently only used for series and movies.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: director
        in: query
        description: "Restrict results to a specific director.  Generally only used\
          \ for movies.  Should include the full name of the director, such as \"\
          Steven Spielberg\"."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: language
        in: query
        description: Restrict results to a specific primary language.  Should include
          the 3 character language code.  Currently only used for series and movies.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: primaryType
        in: query
        description: "Restrict results to a specific type of company.  Should include\
          \ the full name of the type of company, such as \"Production Company\".\
          \  Only used for companies."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: network
        in: query
        description: "Restrict results to a specific network.  Used for TV and TV\
          \ movies, and functions the same as the company parameter with more specificity."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: remote_id
        in: query
        description: "Search for a specific remote id.  Allows searching for an IMDB\
          \ or EIDR id, for example."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: offset
        in: query
        description: Offset results.
        required: false
        style: form
        explode: true
        schema:
          type: number
      - name: limit
        in: query
        description: Limit results.
        required: false
        style: form
        explode: true
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_39'
        "400":
          description: Max results overflow
        "401":
          description: Unauthorized
  /search/remoteid/{remoteId}:
    get:
      tags:
      - Search
      description: "Search a series, movie, people, episode, company or season by\
        \ specific remote id and returns a base record for that entity."
      operationId: getSearchResultsByRemoteId
      parameters:
      - name: remoteId
        in: path
        description: "Search for a specific remote id.  Allows searching for an IMDB\
          \ or EIDR id, for example."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_40'
        "401":
          description: Unauthorized
  /seasons:
    get:
      tags:
      - Seasons
      description: returns list of seasons base records
      operationId: getAllSeasons
      parameters:
      - name: page
        in: query
        description: page number
        required: false
        style: form
        explode: true
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_41'
        "401":
          description: Unauthorized
  /seasons/{id}:
    get:
      tags:
      - Seasons
      description: Returns season base record
      operationId: getSeasonBase
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_42'
        "400":
          description: Invalid season id
        "401":
          description: Unauthorized
        "404":
          description: Season not found
  /seasons/{id}/extended:
    get:
      tags:
      - Seasons
      description: Returns season extended record
      operationId: getSeasonExtended
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_43'
        "400":
          description: Invalid seasons id
        "401":
          description: Unauthorized
        "404":
          description: Season not found
  /seasons/types:
    get:
      tags:
      - Seasons
      description: Returns season type records
      operationId: getSeasonTypes
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_44'
        "401":
          description: Unauthorized
  /seasons/{id}/translations/{language}:
    get:
      tags:
      - Seasons
      description: Returns season translation record
      operationId: getSeasonTranslation
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      - name: language
        in: path
        description: language
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_20'
        "400":
          description: "Invalid season id, language not found."
        "401":
          description: Unauthorized
        "404":
          description: Season not found
  /series:
    get:
      tags:
      - Series
      description: returns list of series base records
      operationId: getAllSeries
      parameters:
      - name: page
        in: query
        description: page number
        required: false
        style: form
        explode: true
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_45'
        "401":
          description: Unauthorized
  /series/{id}:
    get:
      tags:
      - Series
      description: Returns series base record
      operationId: getSeriesBase
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_46'
        "400":
          description: Invalid series id
        "401":
          description: Unauthorized
        "404":
          description: Series not found
  /series/{id}/artworks:
    get:
      tags:
      - Series
      description: Returns series artworks base on language and type. <br> Note&#58;
        Artwork type is an id that can be found using **/artwork/types** endpoint.
      operationId: getSeriesArtworks
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      - name: lang
        in: query
        description: lang
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: "eng, spa"
      - name: type
        in: query
        description: type
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_47'
        "400":
          description: Invalid series id
        "401":
          description: Unauthorized
        "404":
          description: Series not found
  /series/{id}/nextAired:
    get:
      tags:
      - Series
      description: Returns series base record including the nextAired field. <br>
        Note&#58; nextAired was included in the base record endpoint but that field
        will deprecated in the future so developers should use the nextAired endpoint.
      operationId: getSeriesNextAired
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_46'
        "400":
          description: Invalid series id
        "401":
          description: Unauthorized
        "404":
          description: Series not found
  /series/{id}/extended:
    get:
      tags:
      - Series
      description: Returns series extended record
      operationId: getSeriesExtended
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      - name: meta
        in: query
        description: meta
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: translations
          enum:
          - translations
          - episodes
      - name: short
        in: query
        description: reduce the payload and returns the short version of this record
          without characters and artworks
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          enum:
          - true
          - false
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_47'
        "400":
          description: Invalid series id
        "401":
          description: Unauthorized
        "404":
          description: Series not found
  /series/{id}/episodes/{season-type}:
    get:
      tags:
      - Series
      description: "Returns series episodes from the specified season type, default\
        \ returns the episodes in the series default season type"
      operationId: getSeriesEpisodes
      parameters:
      - name: page
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      - name: season-type
        in: path
        description: season-type
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          default:
            value: default
          official:
            value: official
          dvd:
            value: dvd
          absolute:
            value: absolute
          alternate:
            value: alternate
          regional:
            value: regional
      - name: season
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: episodeNumber
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: airDate
        in: query
        description: "airDate of the episode, format is yyyy-mm-dd"
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_48'
        "400":
          description: "Invalid series id, episodeNumber is not null then season must\
            \ be present"
        "401":
          description: Unauthorized
        "404":
          description: Series not found
  /series/{id}/episodes/{season-type}/{lang}:
    get:
      tags:
      - Series
      description: Returns series base record with episodes from the specified season
        type and language. Default returns the episodes in the series default season
        type.
      operationId: getSeriesSeasonEpisodesTranslated
      parameters:
      - name: page
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      - name: season-type
        in: path
        description: season-type
        required: true
        style: simple
        explode: false
        schema:
          type: string
        examples:
          default:
            value: default
          official:
            value: official
          dvd:
            value: dvd
          absolute:
            value: absolute
          alternate:
            value: alternate
          regional:
            value: regional
      - name: lang
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_49'
        "400":
          description: "Invalid series id, invalid language."
        "401":
          description: Unauthorized
        "404":
          description: Series not found
  /series/filter:
    get:
      tags:
      - Series
      description: Search series based on filter parameters
      operationId: getSeriesFilter
      parameters:
      - name: company
        in: query
        description: production company
        required: false
        style: form
        explode: true
        schema:
          type: number
          example: 1
      - name: contentRating
        in: query
        description: content rating id base on a country
        required: false
        style: form
        explode: true
        schema:
          type: number
          example: 245
      - name: country
        in: query
        description: country of origin
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: usa
      - name: genre
        in: query
        description: Genre id. This id can be found using **/genres** endpoint.
        required: false
        style: form
        explode: true
        schema:
          type: number
          example: 3
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 21
          - 22
          - 23
          - 24
          - 25
          - 26
          - 27
          - 28
          - 29
          - 30
          - 31
          - 32
          - 33
          - 34
          - 35
          - 36
      - name: lang
        in: query
        description: original language
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: eng
      - name: sort
        in: query
        description: sort by results
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - score
          - firstAired
          - lastAired
          - name
      - name: sortType
        in: query
        description: sort type ascending or descending
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: status
        in: query
        description: status
        required: false
        style: form
        explode: true
        schema:
          type: number
          enum:
          - 1
          - 2
          - 3
      - name: year
        in: query
        description: release year
        required: false
        style: form
        explode: true
        schema:
          type: number
          example: 2020
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_50'
        "400":
          description: Invalid format parameter.
        "401":
          description: Unauthorized
  /series/slug/{slug}:
    get:
      tags:
      - Series
      description: Returns series base record searched by slug
      operationId: getSeriesBaseBySlug
      parameters:
      - name: slug
        in: path
        description: slug
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_46'
        "400":
          description: Invalid series slug
        "401":
          description: Unauthorized
        "404":
          description: Series not found
  /series/{id}/translations/{language}:
    get:
      tags:
      - Series
      description: Returns series translation record
      operationId: getSeriesTranslation
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      - name: language
        in: path
        description: language
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_20'
        "400":
          description: "Invalid series id, invalid language."
        "401":
          description: Unauthorized
        "404":
          description: Series not found
  /series/statuses:
    get:
      tags:
      - Series Statuses
      description: returns list of status records
      operationId: getAllSeriesStatuses
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_34'
        "401":
          description: Unauthorized
  /sources/types:
    get:
      tags:
      - Source Types
      description: returns list of sourceType records
      operationId: getAllSourceTypes
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_51'
        "401":
          description: Unauthorized
  /updates:
    get:
      tags:
      - Updates
      description: "Returns updated entities.  methodInt indicates a created record\
        \ (1), an updated record (2), or a deleted record (3).  If a record is deleted\
        \ because it was a duplicate of another record, the target record's information\
        \ is provided in mergeToType and mergeToId."
      operationId: updates
      parameters:
      - name: since
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: number
      - name: type
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: movies
          enum:
          - artwork
          - award_nominees
          - companies
          - episodes
          - lists
          - people
          - seasons
          - series
          - seriespeople
          - artworktypes
          - award_categories
          - awards
          - company_types
          - content_ratings
          - countries
          - entity_types
          - genres
          - languages
          - movies
          - movie_genres
          - movie_status
          - peopletypes
          - seasontypes
          - sourcetypes
          - tag_options
          - tags
          - translatedcharacters
          - translatedcompanies
          - translatedepisodes
          - translatedlists
          - translatedmovies
          - translatedpeople
          - translatedseasons
          - translatedserierk
      - name: action
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: movies
          enum:
          - delete
          - update
      - name: page
        in: query
        description: name
        required: false
        style: form
        explode: true
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_52'
        "400":
          description: "Invalid since, type param."
        "401":
          description: Unauthorized
  /user:
    get:
      tags:
      - User info
      description: returns user info
      operationId: getUserInfo
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_53'
        "401":
          description: Unauthorized
  /user/{id}:
    get:
      tags:
      - User info
      description: returns user info by user id
      operationId: getUserInfoById
      parameters:
      - name: id
        in: path
        description: id
        required: true
        style: simple
        explode: false
        schema:
          type: number
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_53'
        "401":
          description: Unauthorized
  /user/favorites:
    get:
      tags:
      - Favorites
      description: returns user favorites
      operationId: getUserFavorites
      responses:
        "200":
          description: response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_54'
        "401":
          description: Unauthorized
    post:
      tags:
      - Favorites
      description: creates a new user favorite
      operationId: createUserFavorites
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FavoriteRecord'
      responses:
        "200":
          description: Ok
        "400":
          description: Bad format
        "401":
          description: Unauthorized
components:
  schemas:
    Alias:
      type: object
      properties:
        language:
          maximum: 4
          type: string
          description: "A 3-4 character string indicating the language of the alias,\
            \ as defined in Language."
        name:
          maximum: 100
          type: string
          description: A string containing the alias itself.
      description: "An alias model, which can be associated with a series, season,\
        \ movie, person, or list."
      example:
        name: name
        language: language
    ArtworkBaseRecord:
      type: object
      properties:
        height:
          type: integer
          format: int64
          x-go-name: Height
        id:
          type: integer
        image:
          type: string
          x-go-name: Image
        language:
          type: string
        score:
          type: number
        thumbnail:
          type: string
          x-go-name: Thumbnail
        type:
          type: integer
          description: The artwork type corresponds to the ids from the /artwork/types
            endpoint.
          format: int64
          x-go-name: Type
        width:
          type: integer
          format: int64
          x-go-name: Width
      description: base artwork record
      example:
        image: image
        score: 1.46581298050294517310021547018550336360931396484375
        thumbnail: thumbnail
        width: 5
        language: language
        id: 6
        type: 5
        height: 0
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    ArtworkExtendedRecord:
      type: object
      properties:
        episodeId:
          type: integer
        height:
          type: integer
          format: int64
          x-go-name: Height
        id:
          type: integer
          format: int64
          x-go-name: ID
        image:
          type: string
          x-go-name: Image
        language:
          type: string
        movieId:
          type: integer
        networkId:
          type: integer
        peopleId:
          type: integer
        score:
          type: number
        seasonId:
          type: integer
        seriesId:
          type: integer
        seriesPeopleId:
          type: integer
        status:
          $ref: '#/components/schemas/ArtworkStatus'
        tagOptions:
          type: array
          items:
            $ref: '#/components/schemas/TagOption'
          x-go-name: TagOptions
        thumbnail:
          type: string
          x-go-name: Thumbnail
        thumbnailHeight:
          type: integer
          format: int64
          x-go-name: ThumbnailHeight
        thumbnailWidth:
          type: integer
          format: int64
          x-go-name: ThumbnailWidth
        type:
          type: integer
          description: The artwork type corresponds to the ids from the /artwork/types
            endpoint.
          format: int64
          x-go-name: Type
        updatedAt:
          type: integer
          format: int64
          x-go-name: UpdatedAt
        width:
          type: integer
          format: int64
          x-go-name: Width
      description: extended artwork record
      example:
        image: image
        thumbnail: thumbnail
        tagOptions:
        - helpText: helpText
          name: name
          id: 7
          tag: 1
          tagName: tagName
        - helpText: helpText
          name: name
          id: 7
          tag: 1
          tagName: tagName
        language: language
        movieId: 5
        episodeId: 0
        seriesPeopleId: 2
        thumbnailWidth: 1
        type: 6
        seriesId: 3
        score: 7.061401241503109105224211816675961017608642578125
        peopleId: 2
        seasonId: 9
        width: 1
        networkId: 5
        id: 1
        thumbnailHeight: 1
        height: 6
        status:
          name: name
          id: 4
        updatedAt: 7
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    ArtworkStatus:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-go-name: ID
        name:
          type: string
      description: artwork status record
      example:
        name: name
        id: 4
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    ArtworkType:
      type: object
      properties:
        height:
          type: integer
          format: int64
        id:
          type: integer
          format: int64
          x-go-name: ID
        imageFormat:
          type: string
          x-go-name: ImageFormat
        name:
          type: string
          x-go-name: Name
        recordType:
          type: string
          x-go-name: RecordType
        slug:
          type: string
          x-go-name: Slug
        thumbHeight:
          type: integer
          format: int64
          x-go-name: ThumbHeight
        thumbWidth:
          type: integer
          format: int64
          x-go-name: ThumbWidth
        width:
          type: integer
          format: int64
          x-go-name: Width
      description: artwork type record
      example:
        thumbHeight: 1
        imageFormat: imageFormat
        recordType: recordType
        name: name
        width: 5
        id: 6
        thumbWidth: 5
        slug: slug
        height: 0
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    AwardBaseRecord:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
      description: base award record
      example:
        name: name
        id: 0
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    AwardCategoryBaseRecord:
      type: object
      properties:
        allowCoNominees:
          type: boolean
          x-go-name: AllowCoNominees
        award:
          $ref: '#/components/schemas/AwardBaseRecord'
        forMovies:
          type: boolean
          x-go-name: ForMovies
        forSeries:
          type: boolean
          x-go-name: ForSeries
        id:
          type: integer
          format: int64
          x-go-name: ID
        name:
          type: string
      description: base award category record
      example:
        award:
          name: name
          id: 0
        forSeries: true
        allowCoNominees: true
        name: name
        forMovies: true
        id: 0
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    AwardCategoryExtendedRecord:
      type: object
      properties:
        allowCoNominees:
          type: boolean
          x-go-name: AllowCoNominees
        award:
          $ref: '#/components/schemas/AwardBaseRecord'
        forMovies:
          type: boolean
          x-go-name: ForMovies
        forSeries:
          type: boolean
          x-go-name: ForSeries
        id:
          type: integer
          format: int64
          x-go-name: ID
        name:
          type: string
        nominees:
          type: array
          items:
            $ref: '#/components/schemas/AwardNomineeBaseRecord'
          x-go-name: Nominees
      description: extended award category record
      example:
        nominees:
        - isWinner: true
          character:
            image: image
            aliases:
            - name: name
              language: language
            - name: name
              language: language
            movie: null
            peopleType: peopleType
            tagOptions:
            - helpText: helpText
              name: name
              id: 7
              tag: 1
              tagName: tagName
            - helpText: helpText
              name: name
              id: 7
              tag: 1
              tagName: tagName
            episode:
              image: image
              year: year
              name: name
            movieId: 5
            sort: 7
            episodeId: 6
            type: 9
            seriesId: 2
            url: url
            overviewTranslations:
            - overviewTranslations
            - overviewTranslations
            personName: personName
            peopleId: 5
            series: null
            personImgURL: personImgURL
            name: name
            id: 1
            isFeatured: true
            nameTranslations:
            - nameTranslations
            - nameTranslations
          movie:
            overviewTranslations:
            - overviewTranslations
            - overviewTranslations
            image: image
            lastUpdated: lastUpdated
            score: 6.77832496304801335185175048536621034145355224609375
            aliases:
            - null
            - null
            year: year
            name: name
            runtime: 5
            id: 2
            nameTranslations:
            - nameTranslations
            - nameTranslations
            slug: slug
            status:
              keepUpdated: true
              recordType: recordType
              name: name
              id: 6
          year: year
          series:
            country: country
            defaultSeasonType: 3
            image: image
            averageRuntime: 6
            aliases:
            - null
            - null
            year: year
            lastAired: lastAired
            firstAired: firstAired
            originalLanguage: originalLanguage
            overviewTranslations:
            - overviewTranslations
            - overviewTranslations
            lastUpdated: lastUpdated
            score: 7.14353804701230643559028976596891880035400390625
            originalCountry: originalCountry
            nextAired: nextAired
            name: name
            id: 3
            nameTranslations:
            - nameTranslations
            - nameTranslations
            episodes:
            - null
            - null
            slug: slug
            isOrderRandomized: true
            status: null
          name: name
          details: details
          episode:
            aired: aired
            image: image
            overview: overview
            airsAfterSeason: 3
            seasons:
            - overviewTranslations:
              - overviewTranslations
              - overviewTranslations
              image: image
              lastUpdated: lastUpdated
              number: 9
              companies:
                studio:
                  overviewTranslations:
                  - overviewTranslations
                  - overviewTranslations
                  parentCompany:
                    name: name
                    id: 8
                    relation:
                      typeName: typeName
                      id: 9
                  country: country
                  aliases:
                  - null
                  - null
                  inactiveDate: inactiveDate
                  activeDate: activeDate
                  name: name
                  primaryCompanyType: 6
                  tagOptions:
                  - null
                  - null
                  id: 9
                  nameTranslations:
                  - nameTranslations
                  - nameTranslations
                  slug: slug
                special_effects: null
                production: null
                distributor: null
                network: null
              year: year
              name: name
              id: 4
              type:
                name: name
                alternateName: alternateName
                id: 3
                type: type
              imageType: 5
              nameTranslations:
              - nameTranslations
              - nameTranslations
              seriesId: 6
            - overviewTranslations:
              - overviewTranslations
              - overviewTranslations
              image: image
              lastUpdated: lastUpdated
              number: 9
              companies:
                studio:
                  overviewTranslations:
                  - overviewTranslations
                  - overviewTranslations
                  parentCompany:
                    name: name
                    id: 8
                    relation:
                      typeName: typeName
                      id: 9
                  country: country
                  aliases:
                  - null
                  - null
                  inactiveDate: inactiveDate
                  activeDate: activeDate
                  name: name
                  primaryCompanyType: 6
                  tagOptions:
                  - null
                  - null
                  id: 9
                  nameTranslations:
                  - nameTranslations
                  - nameTranslations
                  slug: slug
                special_effects: null
                production: null
                distributor: null
                network: null
              year: year
              name: name
              id: 4
              type:
                name: name
                alternateName: alternateName
                id: 3
                type: type
              imageType: 5
              nameTranslations:
              - nameTranslations
              - nameTranslations
              seriesId: 6
            airsBeforeEpisode: 2
            year: year
            runtime: 7
            seasonNumber: 1
            seriesId: 6
            overviewTranslations:
            - overviewTranslations
            - overviewTranslations
            lastUpdated: lastUpdated
            number: 6
            seasonName: seasonName
            name: name
            isMovie: 1
            id: 7
            finaleType: finaleType
            linkedMovie: 1
            imageType: 1
            nameTranslations:
            - nameTranslations
            - nameTranslations
            airsBeforeSeason: 4
          id: 1
          category: category
        - isWinner: true
          character:
            image: image
            aliases:
            - name: name
              language: language
            - name: name
              language: language
            movie: null
            peopleType: peopleType
            tagOptions:
            - helpText: helpText
              name: name
              id: 7
              tag: 1
              tagName: tagName
            - helpText: helpText
              name: name
              id: 7
              tag: 1
              tagName: tagName
            episode:
              image: image
              year: year
              name: name
            movieId: 5
            sort: 7
            episodeId: 6
            type: 9
            seriesId: 2
            url: url
            overviewTranslations:
            - overviewTranslations
            - overviewTranslations
            personName: personName
            peopleId: 5
            series: null
            personImgURL: personImgURL
            name: name
            id: 1
            isFeatured: true
            nameTranslations:
            - nameTranslations
            - nameTranslations
          movie:
            overviewTranslations:
            - overviewTranslations
            - overviewTranslations
            image: image
            lastUpdated: lastUpdated
            score: 6.77832496304801335185175048536621034145355224609375
            aliases:
            - null
            - null
            year: year
            name: name
            runtime: 5
            id: 2
            nameTranslations:
            - nameTranslations
            - nameTranslations
            slug: slug
            status:
              keepUpdated: true
              recordType: recordType
              name: name
              id: 6
          year: year
          series:
            country: country
            defaultSeasonType: 3
            image: image
            averageRuntime: 6
            aliases:
            - null
            - null
            year: year
            lastAired: lastAired
            firstAired: firstAired
            originalLanguage: originalLanguage
            overviewTranslations:
            - overviewTranslations
            - overviewTranslations
            lastUpdated: lastUpdated
            score: 7.14353804701230643559028976596891880035400390625
            originalCountry: originalCountry
            nextAired: nextAired
            name: name
            id: 3
            nameTranslations:
            - nameTranslations
            - nameTranslations
            episodes:
            - null
            - null
            slug: slug
            isOrderRandomized: true
            status: null
          name: name
          details: details
          episode:
            aired: aired
            image: image
            overview: overview
            airsAfterSeason: 3
            seasons:
            - overviewTranslations:
              - overviewTranslations
              - overviewTranslations
              image: image
              lastUpdated: lastUpdated
              number: 9
              companies:
                studio:
                  overviewTranslations:
                  - overviewTranslations
                  - overviewTranslations
                  parentCompany:
                    name: name
                    id: 8
                    relation:
                      typeName: typeName
                      id: 9
                  country: country
                  aliases:
                  - null
                  - null
                  inactiveDate: inactiveDate
                  activeDate: activeDate
                  name: name
                  primaryCompanyType: 6
                  tagOptions:
                  - null
                  - null
                  id: 9
                  nameTranslations:
                  - nameTranslations
                  - nameTranslations
                  slug: slug
                special_effects: null
                production: null
                distributor: null
                network: null
              year: year
              name: name
              id: 4
              type:
                name: name
                alternateName: alternateName
                id: 3
                type: type
              imageType: 5
              nameTranslations:
              - nameTranslations
              - nameTranslations
              seriesId: 6
            - overviewTranslations:
              - overviewTranslations
              - overviewTranslations
              image: image
              lastUpdated: lastUpdated
              number: 9
              companies:
                studio:
                  overviewTranslations:
                  - overviewTranslations
                  - overviewTranslations
                  parentCompany:
                    name: name
                    id: 8
                    relation:
                      typeName: typeName
                      id: 9
                  country: country
                  aliases:
                  - null
                  - null
                  inactiveDate: inactiveDate
                  activeDate: activeDate
                  name: name
                  primaryCompanyType: 6
                  tagOptions:
                  - null
                  - null
                  id: 9
                  nameTranslations:
                  - nameTranslations
                  - nameTranslations
                  slug: slug
                special_effects: null
                production: null
                distributor: null
                network: null
              year: year
              name: name
              id: 4
              type:
                name: name
                alternateName: alternateName
                id: 3
                type: type
              imageType: 5
              nameTranslations:
              - nameTranslations
              - nameTranslations
              seriesId: 6
            airsBeforeEpisode: 2
            year: year
            runtime: 7
            seasonNumber: 1
            seriesId: 6
            overviewTranslations:
            - overviewTranslations
            - overviewTranslations
            lastUpdated: lastUpdated
            number: 6
            seasonName: seasonName
            name: name
            isMovie: 1
            id: 7
            finaleType: finaleType
            linkedMovie: 1
            imageType: 1
            nameTranslations:
            - nameTranslations
            - nameTranslations
            airsBeforeSeason: 4
          id: 1
          category: category
        award:
          name: name
          id: 0
        forSeries: true
        allowCoNominees: true
        name: name
        forMovies: true
        id: 0
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    AwardExtendedRecord:
      type: object
      properties:
        categories:
          type: array
          items:
            $ref: '#/components/schemas/AwardCategoryBaseRecord'
          x-go-name: Categories
        id:
          type: integer
        name:
          type: string
        score:
          type: integer
          format: int64
          x-go-name: Score
      description: extended award record
      example:
        score: 1
        name: name
        categories:
        - award:
            name: name
            id: 0
          forSeries: true
          allowCoNominees: true
          name: name
          forMovies: true
          id: 0
        - award:
            name: name
            id: 0
          forSeries: true
          allowCoNominees: true
          name: name
          forMovies: true
          id: 0
        id: 6
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    AwardNomineeBaseRecord:
      type: object
      properties:
        character:
          $ref: '#/components/schemas/Character'
        details:
          type: string
        episode:
          $ref: '#/components/schemas/EpisodeBaseRecord'
        id:
          type: integer
          format: int64
          x-go-name: ID
        isWinner:
          type: boolean
          x-go-name: IsWinner
        movie:
          $ref: '#/components/schemas/MovieBaseRecord'
        series:
          $ref: '#/components/schemas/SeriesBaseRecord'
        year:
          type: string
        category:
          type: string
        name:
          type: string
      description: base award nominee record
      example:
        isWinner: true
        character:
          image: image
          aliases:
          - name: name
            language: language
          - name: name
            language: language
          movie: null
          peopleType: peopleType
          tagOptions:
          - helpText: helpText
            name: name
            id: 7
            tag: 1
            tagName: tagName
          - helpText: helpText
            name: name
            id: 7
            tag: 1
            tagName: tagName
          episode:
            image: image
            year: year
            name: name
          movieId: 5
          sort: 7
          episodeId: 6
          type: 9
          seriesId: 2
          url: url
          overviewTranslations:
          - overviewTranslations
          - overviewTranslations
          personName: personName
          peopleId: 5
          series: null
          personImgURL: personImgURL
          name: name
          id: 1
          isFeatured: true
          nameTranslations:
          - nameTranslations
          - nameTranslations
        movie:
          overviewTranslations:
          - overviewTranslations
          - overviewTranslations
          image: image
          lastUpdated: lastUpdated
          score: 6.77832496304801335185175048536621034145355224609375
          aliases:
          - null
          - null
          year: year
          name: name
          runtime: 5
          id: 2
          nameTranslations:
          - nameTranslations
          - nameTranslations
          slug: slug
          status:
            keepUpdated: true
            recordType: recordType
            name: name
            id: 6
        year: year
        series:
          country: country
          defaultSeasonType: 3
          image: image
          averageRuntime: 6
          aliases:
          - null
          - null
          year: year
          lastAired: lastAired
          firstAired: firstAired
          originalLanguage: originalLanguage
          overviewTranslations:
          - overviewTranslations
          - overviewTranslations
          lastUpdated: lastUpdated
          score: 7.14353804701230643559028976596891880035400390625
          originalCountry: originalCountry
          nextAired: nextAired
          name: name
          id: 3
          nameTranslations:
          - nameTranslations
          - nameTranslations
          episodes:
          - null
          - null
          slug: slug
          isOrderRandomized: true
          status: null
        name: name
        details: details
        episode:
          aired: aired
          image: image
          overview: overview
          airsAfterSeason: 3
          seasons:
          - overviewTranslations:
            - overviewTranslations
            - overviewTranslations
            image: image
            lastUpdated: lastUpdated
            number: 9
            companies:
              studio:
                overviewTranslations:
                - overviewTranslations
                - overviewTranslations
                parentCompany:
                  name: name
                  id: 8
                  relation:
                    typeName: typeName
                    id: 9
                country: country
                aliases:
                - null
                - null
                inactiveDate: inactiveDate
                activeDate: activeDate
                name: name
                primaryCompanyType: 6
                tagOptions:
                - null
                - null
                id: 9
                nameTranslations:
                - nameTranslations
                - nameTranslations
                slug: slug
              special_effects: null
              production: null
              distributor: null
              network: null
            year: year
            name: name
            id: 4
            type:
              name: name
              alternateName: alternateName
              id: 3
              type: type
            imageType: 5
            nameTranslations:
            - nameTranslations
            - nameTranslations
            seriesId: 6
          - overviewTranslations:
            - overviewTranslations
            - overviewTranslations
            image: image
            lastUpdated: lastUpdated
            number: 9
            companies:
              studio:
                overviewTranslations:
                - overviewTranslations
                - overviewTranslations
                parentCompany:
                  name: name
                  id: 8
                  relation:
                    typeName: typeName
                    id: 9
                country: country
                aliases:
                - null
                - null
                inactiveDate: inactiveDate
                activeDate: activeDate
                name: name
                primaryCompanyType: 6
                tagOptions:
                - null
                - null
                id: 9
                nameTranslations:
                - nameTranslations
                - nameTranslations
                slug: slug
              special_effects: null
              production: null
              distributor: null
              network: null
            year: year
            name: name
            id: 4
            type:
              name: name
              alternateName: alternateName
              id: 3
              type: type
            imageType: 5
            nameTranslations:
            - nameTranslations
            - nameTranslations
            seriesId: 6
          airsBeforeEpisode: 2
          year: year
          runtime: 7
          seasonNumber: 1
          seriesId: 6
          overviewTranslations:
          - overviewTranslations
          - overviewTranslations
          lastUpdated: lastUpdated
          number: 6
          seasonName: seasonName
          name: name
          isMovie: 1
          id: 7
          finaleType: finaleType
          linkedMovie: 1
          imageType: 1
          nameTranslations:
          - nameTranslations
          - nameTranslations
          airsBeforeSeason: 4
        id: 1
        category: category
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    Biography:
      type: object
      properties:
        biography:
          type: string
          x-go-name: Biography
        language:
          type: string
          x-go-name: Language
      description: biography record
      example:
        language: language
        biography: biography
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    Character:
      type: object
      properties:
        aliases:
          type: array
          items:
            $ref: '#/components/schemas/Alias'
          x-go-name: Aliases
        episode:
          $ref: '#/components/schemas/RecordInfo'
        episodeId:
          type: integer
        id:
          type: integer
          format: int64
          x-go-name: ID
        image:
          type: string
        isFeatured:
          type: boolean
          x-go-name: IsFeatured
        movieId:
          type: integer
        movie:
          $ref: '#/components/schemas/RecordInfo'
        name:
          type: string
        nameTranslations:
          type: array
          items:
            type: string
          x-go-name: NameTranslations
        overviewTranslations:
          type: array
          items:
            type: string
          x-go-name: OverviewTranslations
        peopleId:
          type: integer
        personImgURL:
          type: string
        peopleType:
          type: string
        seriesId:
          type: integer
        series:
          $ref: '#/components/schemas/RecordInfo'
        sort:
          type: integer
          format: int64
          x-go-name: Sort
        tagOptions:
          type: array
          items:
            $ref: '#/components/schemas/TagOption'
          x-go-name: TagOptions
        type:
          type: integer
          format: int64
          x-go-name: Type
        url:
          type: string
          x-go-name: URL
        personName:
          type: string
      description: character record
      example:
        image: image
        aliases:
        - name: name
          language: language
        - name: name
          language: language
        movie: null
        peopleType: peopleType
        tagOptions:
        - helpText: helpText
          name: name
          id: 7
          tag: 1
          tagName: tagName
        - helpText: helpText
          name: name
          id: 7
          tag: 1
          tagName: tagName
        episode:
          image: image
          year: year
          name: name
        movieId: 5
        sort: 7
        episodeId: 6
        type: 9
        seriesId: 2
        url: url
        overviewTranslations:
        - overviewTranslations
        - overviewTranslations
        personName: personName
        peopleId: 5
        series: null
        personImgURL: personImgURL
        name: name
        id: 1
        isFeatured: true
        nameTranslations:
        - nameTranslations
        - nameTranslations
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    Company:
      type: object
      properties:
        activeDate:
          type: string
        aliases:
          type: array
          items:
            $ref: '#/components/schemas/Alias'
          x-go-name: Aliases
        country:
          type: string
        id:
          type: integer
          format: int64
          x-go-name: ID
        inactiveDate:
          type: string
        name:
          type: string
        nameTranslations:
          type: array
          items:
            type: string
          x-go-name: NameTranslations
        overviewTranslations:
          type: array
          items:
            type: string
          x-go-name: OverviewTranslations
        primaryCompanyType:
          type: integer
          format: int64
          x-go-name: PrimaryCompanyType
        slug:
          type: string
          x-go-name: Slug
        parentCompany:
          $ref: '#/components/schemas/ParentCompany'
        tagOptions:
          type: array
          items:
            $ref: '#/components/schemas/TagOption'
          x-go-name: TagOptions
      description: A company record
      example:
        overviewTranslations:
        - overviewTranslations
        - overviewTranslations
        parentCompany:
          name: name
          id: 8
          relation:
            typeName: typeName
            id: 9
        country: country
        aliases:
        - null
        - null
        inactiveDate: inactiveDate
        activeDate: activeDate
        name: name
        primaryCompanyType: 6
        tagOptions:
        - null
        - null
        id: 9
        nameTranslations:
        - nameTranslations
        - nameTranslations
        slug: slug
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    ParentCompany:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        relation:
          $ref: '#/components/schemas/CompanyRelationShip'
      description: A parent company record
      example:
        name: name
        id: 8
        relation:
          typeName: typeName
          id: 9
    CompanyRelationShip:
      properties:
        id:
          type: integer
        typeName:
          type: string
      description: A company relationship
      example:
        typeName: typeName
        id: 9
    CompanyType:
      type: object
      properties:
        companyTypeId:
          type: integer
        companyTypeName:
          type: string
      description: A company type record
      example:
        companyTypeId: 0
        companyTypeName: companyTypeName
    ContentRating:
      type: object
      properties:
        id:
          type: integer
          format: int64
          x-go-name: ID
        name:
          type: string
          x-go-name: Name
        description:
          type: string
        country:
          type: string
        contentType:
          type: string
        order:
          type: integer
        fullName:
          type: string
      description: content rating record
      example:
        country: country
        name: name
        description: description
        fullName: fullName
        id: 0
        contentType: contentType
        order: 6
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    Country:
      type: object
      properties:
        id:
          type: string
          x-go-name: ID
        name:
          type: string
          x-go-name: Name
        shortCode:
          type: string
          x-go-name: ShortCode
      description: country record
      example:
        name: name
        id: id
        shortCode: shortCode
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    Entity:
      type: object
      properties:
        movieId:
          type: integer
        order:
          type: integer
          format: int64
          x-go-name: Order
        seriesId:
          type: integer
      description: Entity record
      example:
        movieId: 0
        seriesId: 1
        order: 6
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    EntityType:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
          x-go-name: Order
        hasSpecials:
          type: boolean
      description: Entity Type record
      example:
        hasSpecials: true
        name: name
        id: 0
    EntityUpdate:
      type: object
      properties:
        entityType:
          type: string
          x-go-name: EnitityType
        method:
          type: string
          x-go-name: Method
        recordId:
          type: integer
          format: int64
          x-go-name: RecordID
        timeStamp:
          type: integer
          format: int64
          x-go-name: TimeStamp
        seriesId:
          type: integer
          description: Only present for episodes records
          format: int64
          x-go-name: RecordID
        mergeToId:
          type: integer
          format: int64
        mergeToEntityType:
          type: string
      description: entity update record
      example:
        recordId: 0
        timeStamp: 6
        mergeToEntityType: mergeToEntityType
        method: method
        mergeToId: 5
        entityType: entityType
        seriesId: 1
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    EpisodeBaseRecord:
      type: object
      properties:
        aired:
          type: string
        airsAfterSeason:
          type: integer
        airsBeforeEpisode:
          type: integer
        airsBeforeSeason:
          type: integer
        finaleType:
          type: string
          description: "season, midseason, or series"
        id:
          type: integer
          format: int64
          x-go-name: ID
        image:
          type: string
        imageType:
          type: integer
        isMovie:
          type: integer
          format: int64
          x-go-name: IsMovie
        lastUpdated:
          type: string
        linkedMovie:
          type: integer
        name:
          type: string
        nameTranslations:
          type: array
          items:
            type: string
          x-go-name: NameTranslations
        number:
          type: integer
        overview:
          type: string
        overviewTranslations:
          type: array
          items:
            type: string
          x-go-name: OverviewTranslations
        runtime:
          type: integer
        seasonNumber:
          type: integer
        seasons:
          type: array
          items:
            $ref: '#/components/schemas/SeasonBaseRecord'
          x-go-name: Seasons
        seriesId:
          type: integer
          format: int64
          x-go-name: SeriesID
        seasonName:
          type: string
        year:
          type: string
      description: base episode record
      example:
        aired: aired
        image: image
        overview: overview
        airsAfterSeason: 3
        seasons:
        - overviewTranslations:
          - overviewTranslations
          - overviewTranslations
          image: image
          lastUpdated: lastUpdated
          number: 9
          companies:
            studio:
              overviewTranslations:
              - overviewTranslations
              - overviewTranslations
              parentCompany:
                name: name
                id: 8
                relation:
                  typeName: typeName
                  id: 9
              country: country
              aliases:
              - null
              - null
              inactiveDate: inactiveDate
              activeDate: activeDate
              name: name
              primaryCompanyType: 6
              tagOptions:
              - null
              - null
              id: 9
              nameTranslations:
              - nameTranslations
              - nameTranslations
              slug: slug
            special_effects: null
            production: null
            distributor: null
            network: null
          year: year
          name: name
          id: 4
          type:
            name: name
            alternateName: alternateName
            id: 3
            type: type
          imageType: 5
          nameTranslations:
          - nameTranslations
          - nameTranslations
          seriesId: 6
        - overviewTranslations:
          - overviewTranslations
          - overviewTranslations
          image: image
          lastUpdated: lastUpdated
          number: 9
          companies:
            studio:
              overviewTranslations:
              - overviewTranslations
              - overviewTranslations
              parentCompany:
                name: name
                id: 8
                relation:
                  typeName: typeName
                  id: 9
              country: country
              aliases:
              - null
              - null
              inactiveDate: inactiveDate
              activeDate: activeDate
              name: name
              primaryCompanyType: 6
              tagOptions:
              - null
              - null
              id: 9
              nameTranslations:
              - nameTranslations
              - nameTranslations
              slug: slug
            special_effects: null
            production: null
            distributor: null
            network: null
          year: year
          name: name
          id: 4
          type:
            name: name
            alternateName: alternateName
            id: 3
            type: type
          imageType: 5
          nameTranslations:
          - nameTranslations
          - nameTranslations
          seriesId: 6
        airsBeforeEpisode: 2
        year: year
        runtime: 7
        seasonNumber: 1
        seriesId: 6
        overviewTranslations:
        - overviewTranslations
        - overviewTranslations
        lastUpdated: lastUpdated
        number: 6
        seasonName: seasonName
        name: name
        isMovie: 1
        id: 7
        finaleType: finaleType
        linkedMovie: 1
        imageType: 1
        nameTranslations:
        - nameTranslations
        - nameTranslations
        airsBeforeSeason: 4
      x-go-package: github.com/whip-networks/tvdb-api-v4-core/tvdb-api-v4-core/pkg/model
    EpisodeExtendedRecord:
      type: object
      properties:
        aired:
          type: string
        airsAfterSeason:
          type: integer
        airsBeforeEpisode:
          type: integer
        airsBeforeSeason:
          type: integer
        awards:
          type: array
          items:
            $ref: '#/components/schemas/AwardBaseRecord'
          x-go-name: Awards
        characters:
          type: array
          items:
            $ref: '#/components/schemas/Character'
[...]
